<form action="/sendmessage">
  <label>Email address of the receiver:</label>
  <input type="text" name="senderemail" required=""></input>
  <br></br>
  <label>Please enter the message below</label><br></br>
  <textarea name="message" required=""></textarea>
  <br></br>
  <button type="submit">send</button>
</form>