<div class ="wrapper">

<form action="/sendmessage">
  <label class = "lb">Email address of the receiver:</label>
  <input class = "emailbox" type="text" name="senderemail" required=""></input>
  <br></br>
  <label class = "lb">Please enter the message below</label><br></br>
  <textarea class= "userinput" name="message" required=""></textarea>
  <br></br>
  <button class ="submitbutton" type="submit">send</button>
</form>

</div>
<div id="status">
<% if (req.session.flash && req.session.flash.error) { %><%=req.flash('error')%><% } %>
</div>